*.dbg
*.exe
/guardian_microservices/bin
/guardian_microservices/lib
/guardian_microservices/backup
/microservizio_db/bin
/microservizio_db/lib
/microservizio_db/backup
/microservizio_db/client/bin
/microservizio_db/client/lib
/microservizio_db/client/backup
/microservizio_file/bin
/microservizio_file/lib
/microservizio_file/backup
/microservizio_file/client/bin
/microservizio_file/client/lib
/microservizio_file/client/backup
/microservizio_message/bin
/microservizio_message/lib
/microservizio_message/backup
/microservizio_message/client/bin
/microservizio_message/client/lib
/microservizio_message/client/backup

